{% include 'header.html' %}

<script>
$(document).ready(function() {
    $('#application_status_page_item').addClass('active');
});
</script>

<div class="row rowborder">
    <h1>Application Status for {{email}}</h1>
</div>
<div>
    {% for keys in status_records %}
    <br>
    <div class="card">
        {% if (keys.status == 'ACCPT') %}
            <div class="card-body" style="background-color:lightgreen;">
        {% elif (keys.status == 'RJCT') %}
            <div class="card-body" style="background-color:#ffbbbb;">
        {% else %}
            <div class="card-body" style="background-color:#efefad;">
        {% endif %}
            <div class="col-sm-12" style="font-size:30px;"><b>{{keys.course_details.course_name}} - {{keys.course_details.course_code}}</b></div>
            <br>
            <div class="row col-sm-8 pull-left">
                <div>
                    <span class="col-sm-2">
                        <label><b>Course Duration: </b></label>
                        {{keys.course_details.course_duration}} years
                    </span>
                    <span class="col-sm-10">
                        <label><b>Course Fees: </b></label>
                        ${{keys.course_details.course_fees}} (CAD)
                    </span>
                </div>
                <div>
                    <span class="col-sm-2">
                        <label><b>Co-Op Available: </b></label>
                            {% if (keys.course_details.is_co_op_available == True) %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                    </span>
                    <span class="col-sm-10" style="display:flex; align-items: baseline;">
                        <label><b>Intakes Available: </b></label>
                        {% if (keys.course_details.intakes_available | length > 0) %}
                            <ul>
                                {% for intake in keys.course_details.intakes_available %}
                                    <li>
                                        {% if intake == "MAY" %}
                                          May
                                        {% endif %}

                                        {% if intake == "SEPT" %}
                                          September
                                        {% endif %}

                                        {% if intake == "JAN" %}
                                          January
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            None
                        {% endif %}
                    </span>
                </div>
                <div class="clearfix"></div>
                {% if (keys.status != 'PEND') %}
                     <div class="col-sm-12">
                        <label><b>Status Updated On: </b></label>
                        {{keys.date.strftime('%Y-%m-%d')}}
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-3 pull-right">
                {% if (keys.status == 'ACCPT') %}
                    <span style="color:green;"><i class="fa fa-check-circle fa-2" aria-hidden="true"></i>&nbsp;Accepted</span>
                {% elif (keys.status == 'RJCT') %}
                    <span style="color:red;"><i class="fa fa-times-circle fa-2" aria-hidden="true"></i>&nbsp;Rejected</span>
                {% else %}
                    <span style="color:#ff4500bf;"><i class="fa fa-exclamation-triangle fa-2" aria-hidden="true"></i>&nbsp;Pending</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    </div>
</div>

{% include 'footer.html' %}