{% include 'header.html' %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/contact.css') }}">
<div class="row rowborder">

        <h2 >{{title}}</h2>

</div>

    <body class="app-img"   background="/static/img/appstatus2.jpg"  >

    <form action="{{url_for('check_application_status')}}" method="POST" >
        <br>
        <br>
        <div class="form-group">
            <input class="form-control" type="email" placeholder="Enter Email" name="email" required>
            <br>
            <br>
        </div>
        <div style="text-align:center;">
            <button class="btn btn-primary" type="submit">Check Status</button>
        </div>

    </form>


    </body>




{% include 'footer.html' %}
