{% include 'header.html' %}

<script>
$(document).ready(function() {
    $('#application_status_page_item').addClass('active');
});
</script>

<style>
    .card-body-styling {

    }
</style>

<h1>Application Status for {{email}}</h1>
<hr>
<div>
    {% for keys in status_records %}
    {{keys}}
    <div class="card">
        <div class="card-body">
            <div class="col-sm-12">{{keys.course_details.course_name}} - {{keys.course_details.course_code}}</div>
            {{keys.status}}
        </div>
    </div>
    {% endfor %}
</div>
{% include 'footer.html' %}