<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="font-family: Cursive, Fantasy, Times, serif;">Crestview College</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!--<li class="nav-item">
        <a class="nav-link" href="{{ url_for('get_courses_page') }}">Home</a>
      </li>-->
      <li class="nav-item" id="user_courses_menu_item">
        <a class="nav-link" href="{{ url_for('get_courses_page') }}">Courses</a>
      </li>
      <li class="nav-item" id="contact_us_menu_item">
        <a class="nav-link" href="{{ url_for('get_contact_us_page') }}">Contact Us</a>
      </li>
      <li class="nav-item" id="application_status_page_item">
        <a class="nav-link" href="{{ url_for('get_check_application_status_page') }}">Check Application Status</a>
      </li>
      <li class="nav-item" id="admin_login_menu_item">
        <a class="nav-link" href="{{ url_for('login_page') }}">Admin Login</a>
      </li>
    </ul>
  </div>
</nav>